@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<link href="~/css/estilos.css" rel="stylesheet" type="text/css">
<script src="~/js/site.js"></script>

<h3 class="formato"> Este es un ejemplo de estilos</h3>
<img src="~/imagenes/uno.jpeg" alt="se ve un mapache" onclick="clickeame()">