@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h3>Vista principal</h3>
<a class="btn btn-success"
    asp-controller="Producto" asp-action="Compra" asp-route-id="123">Hacia el ejemplo 1</a>
<a class="btn btn-success mx-4"
   asp-controller="Producto" asp-action="Compra2" asp-route-id="123" asp-route-cupon="xyz330">Hacia el ejemplo 2</a>
<a class="btn btn-success mx-4"
   asp-controller="Producto" asp-action="Compra3" asp-route-id="333">Hacia el ejemplo 3</a>
<a class="btn btn-success mx-4"
   asp-controller="Producto" asp-action="Compra4" asp-route-id="123" asp-route-cup="xyz330">Hacia el ejemplo 4</a>