@model Ejemplo_ASP_NET_MVC.Models.CuentaUsuario
<h3>Formulario de registro</h3>
<form asp-controller="Validando" asp-action="Registrar" method="post">
    <table>
        <tr>
            <td>Usuario</td>
            <td><input asp-for="Usuario"></td>
            <td><span asp-validation-for="Usuario"></span></td>
        </tr>
        <tr>
            <td>Contraseña</td>
            <td><input type="password" asp-for="Password"></td>
            <td><span asp-validation-for="Password"></span></td>
        </tr>
         <tr>
            <td>Edad</td>
            <td><input asp-for="Edad"></td>
            <td><span asp-validation-for="Edad"></span></td>
        </tr>
        <tr>
            <td>eMail</td>
            <td><input asp-for="Correo"></td>
            <td><span asp-validation-for="Correo"></span></td>
        </tr>
        <tr>
            <td>Página Web</td>
            <td><input type="text" asp-for="website"></td>
            <td><span asp-validation-for="website"></span></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Registrar"></td>
        </tr>
    </table>
</form>